html {
    font-family: 'Oswald', sans-serif;
    background-color: #e2c29d;
}
body {
    width: 700px;
    margin: 30px auto;
    background-color: hsl(184, 38%, 86%);
    padding: 0 40px 40px 40px;
    border: 5px solid black;
}
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.596);
    line-height: 1px;
  }

  h2 {
    justify-content: right;
      
  }
  img {
    display:-webkit-box;
    margin: 10px auto;
    width: 250px;
  }